
<header class="jumbotron jumbotron-fluid">
<!--Mask-->
<div class="container-fluid text-center">

</div>

</header>

<h1>Welcome to Club Management</h1>
<div class="col-md-12 text-center">
    <% if current_user %>
    <%= link_to 'Posts', posts_path, class:"btn btn-primary" %>
    <% end %>
</div>
